[submodule "src/external/box2d"]
	path = src/external/box2d
	url = git@github.com:erincatto/box2d.git
[submodule "src/external/raylib"]
	path = src/external/raylib
	url = git@github.com:raysan5/raylib.git
